html {
    font-family: 'Public Sans', sans-serif;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.galeria {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria .quadro {
    width: 335px;
    height: 431px;
    position: relative;
}

.galeria .quadro img {
    width: 100%;
}

.galeria .quadro .info{
    color: white;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.galeria .quadro .info .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}

.galeria .quadro .info .artista {
    font-size: 17px;
    font-weight: 300;
}

